%p#notice= notice

%p
  %b Username:
  = @user.username

%h1 Lists
%table.table
  %tr
    %th List Name

  - @lists.each do |list|
    %tr
      %td= link_to list.name, user_list_path(@user, list), class: 'btn'

= link_to 'Add New List', new_user_list_path(@user), class: 'btn'

%br
%br

= link_to 'Edit', edit_user_path(@user), class: 'btn'
\|
= link_to 'Back', users_path, class: 'btn'
